.title {
  color: ;
  background-color: orchid;
  text-align: center;
  padding: 10px;
}

.blog1 {
  color: red;
  padding: 10px;
  text-align: left;
}

.blog2 {
  color: orangered;
  padding: 10px;
  text-align: center;
}

.blog3 {
  color: orange;
  padding: 10px;
  text-align: right;
}
