body {
  background-color: #222222;
}

.title {
  color: #e9a9be;
  text-align: center;
  font-family: "Architects Daughter", cursive;
  font-size: 65;
  padding-top: 70px;
  text-decoration: underline;
}

.blog {
  padding: 50px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 30;
  background-color: black;
  border-style: ridge;
  border-width: 20px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

#blog-fries {
  color: #f5b51e;
}

#blog-elephants {
  color: #9e9b90;
}

#blog-car {
  color: #2368cf;
}

.blog-header {
  text-decoration: underline;
  font-family: "Architects Daughter", cursive;
  font-style: italic;
}

.blog-info {
  font-size: 32px;
}

.pictures {
  max-width: auto;
  height: 350px;
}
